@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  //background-image: asset-url('nick-morrison.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/nick-morrison.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

/* #sticky-footer {
  flex-shrink: none;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
} */


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}
