<h1 class="text-center mt-4">Edit category: <%= @category.name %> </h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
      <div class="col-10 row justify-content-center">
        <%= link_to '[Cancel]', category_path(@category), class: "text-info" %>
      </div>
    </div>
  </div>
